.iconAdd {
  width: 18px !important;
  height: 18px !important;
  margin-left: 5px;
}

.iconLoupe {
  width: 20px !important;
  height: 20px !important;
}

.iconEdit {
  width: 21px !important;
  height: 21px !important;
}
